<button type="button" class="close" @onclick="NotifyModalClosing" @onclick:preventDefault="PreventDefault" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>