@typeparam TItem
@typeparam TItem2
<div class="row">
	<div class="col-xs-5">
		<em>Selectable items</em>
		<select name="from[]" id="@HTMLId" class="form-control" size="8" multiple="multiple">
			
			@SelectableItemsTemplate
		</select>
	</div>
	
	<div class="col-xs-2">
		<button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="oi oi-media-skip-forward"></i></button>
		<button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="oi oi-chevron-right"></i></button>
		<button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="oi oi-chevron-left"></i></button>
		<button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="oi oi-media-skip-backward"></i></button>
	</div>
	
	<div class="col-xs-5">
		<em>Selected items</em>
		<select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple">
			@SelectedItemsTemplate
		</select>
	</div>
</div>
@code {

}
