@page "/"

<div class="alert alert-secondary mt-4" role="alert">
    <h4><span class="oi oi-question-mark mr-2" aria-hidden="true"></span> WTF?</h4>
    <div>
        This is a thrown away Blazor wasm app which has two main reasons to be:
        <ul>
            <li>learn the technology</li>
            <li>consume the <a href="https://github.com/mvit777/BikeDistributor" target="_blank">BikeDistributor library</a></li>
        </ul>
    </div>
</div>
