@page "/admin/dashboard"
@using Microsoft.Extensions.Configuration
@using BikeDistributor.Domain.Models;
@using BikeDistributor.Domain.Entities;
@using BikeDistributor.Infrastructure.core;
@inject IConfiguration Configuration;
@inject HttpClient RestClient;
@inject IJSRuntime JSRuntime;
<h3>Admin Dashboard</h3>
<ul class="nav nav-tabs" id="adminTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard#stats" id="stats-tab" role="tab" aria-controls="stats" aria-selected="false">Stats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/admin/dashboard#bikes" id="bikes-tab" role="tab" aria-controls="bikes" aria-selected="true">Bikes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard#options" id="options-tab" role="tab" aria-controls="options" aria-selected="false">Bikes' Options</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#customers" role="tab" id="customers-tab" aria-controls="customers" aria-selected="false">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#orders" role="tab" id="orders-tab" aria-controls="orders" aria-selected="false">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#discounts" role="tab" id="discounts-tab" aria-controls="discounts" aria-selected="false">Discounts</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane" id="stats" role="tabpanel" aria-labelledby="stats-tab">...</div>
    <div class="tab-pane active" id="bikes" role="tabpanel" aria-labelledby="bikes-tab">
        <BikeShop.Shared.Components.admin.AdminProductList />
    </div>
    <div class="tab-pane" id="options" role="tabpanel" aria-labelledby="options-tab">...</div>
    <div class="tab-pane" id="customers" role="tabpanel" aria-labelledby="customers-tab">...</div>
    <div class="tab-pane" id="orders" role="tabpanel" aria-labelledby="orders-tab">...</div>
    <div class="tab-pane" id="discounts" role="tabpanel" aria-labelledby="discounts-tab">...</div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        //study life cycle to understand where is better to place js calls
        await JSRuntime.InvokeAsync<object>("SayHello", "Marcello");

    }

}
