@page "/admin/dashboard"
@using Microsoft.Extensions.Configuration
@*@inject IConfiguration Configuration*@

<h3>Admin Dashboard</h3>
<div>
    
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#">Stats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bikes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bikes' Options</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Discounts</a>
    </li>
</ul>
@code {
    

}
