@page "/admin/dashboard"
@using Microsoft.Extensions.Configuration
@using BikeDistributor.Domain.Models;
@using BikeDistributor.Domain.Entities;
@using BikeDistributor.Infrastructure.core;
@inject IConfiguration Configuration;
@inject HttpClient RestClient;
@inject IJSRuntime JSRuntime;
<h3 class="text-muted">Admin Dashboard</h3>
<ul class="nav nav-tabs" id="adminTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#stats" id="stats-tab" aria-controls="stats" aria-selected="false">Stats</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link active" id="bikes-tab" data-bs-toggle="tab" data-bs-target="#bikes" aria-controls="bikes" aria-selected="true">Bikes</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#options" aria-controls="options" aria-selected="false">Bikes' Options</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#customers" id="customers-tab" aria-controls="customers" aria-selected="false">Customers</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#orders" id="orders-tab" aria-controls="orders" aria-selected="false">Orders</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#discount" id="discounts-tab" aria-controls="discounts" aria-selected="false">Discounts</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content" id="adminTabsContent">
    <div class="tab-pane" id="stats" role="tabpanel" aria-labelledby="stats-tab">...</div>
    <div class="tab-pane active" id="bikes" role="tabpanel" aria-labelledby="bikes-tab">
        <BikeShop.Shared.Components.admin.AdminProductList />
    </div>
    <div class="tab-pane" id="options" role="tabpanel" aria-labelledby="options-tab">
        <BikeShop.Shared.Components.admin.AdminOptionList />
    </div>
    <div class="tab-pane" id="customers" role="tabpanel" aria-labelledby="customers-tab">...</div>
    <div class="tab-pane" id="orders" role="tabpanel" aria-labelledby="orders-tab">...</div>
    <div class="tab-pane" id="discounts" role="tabpanel" aria-labelledby="discounts-tab">...</div>
</div>

@code {
    //protected override async Task OnInitializedAsync()
    //{
    //    //study life cycle to understand where is better to place js calls
    //    //await JSRuntime.InvokeAsync<object>("SayHello", "Marcello");

    //}
    //protected async override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        //await JSRuntime.InvokeVoidAsync("initializeCounterComponent", container);
    //        //await JSRuntime.InvokeVoidAsync("bootstrapNS.MakeRichTables");
    //        //await JSRuntime.InvokeAsync<object>("bootstrapNS.SayHello", "marc");
    //    }
    //}

}
