@page "/admin/dashboard"
@using Microsoft.Extensions.Configuration
@using MV.Framework.interfaces;
@using BikeDistributor.Infrastructure.services;
@using BikeDistributor.Domain.Entities;
@inject IConfiguration Configuration
@inject IMongoService bs;
<h3>Admin Dashboard</h3>
<div>
   ecce homo <span>@Configuration.GetSection("Mongo").GetValue("url","")</span>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#">Stats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bikes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bikes' Options</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Discounts</a>
    </li>
</ul>
@if (EntityBikes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (MongoEntityBike b in EntityBikes)
    {
        <div>
            <h4>@b.Bike.Model</h4>
            <span>@b.TotalPrice</span>
        </div>
    }
}
@code {
    private MongoBikeService BS;
    private List<MongoEntityBike> EntityBikes;

    protected override async Task OnInitializedAsync()
    {
        BS = (MongoBikeService)bs;
        EntityBikes = await BS.Get();//return fucking shit nothing
    }

}
